.dashboard-card {
  background: #fffffd;
  border: 1px solid rgba(94, 82, 64, 0.12);
  border-radius: 12px;
  padding: 24px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.16, 1, 0.3, 1);
  flex: 1 1 auto;
  text-align: center;
  border: 1px solid rgba(94, 82, 64, 0.12);
}
.newfirstContainer {
  display: flex;
  align-self: end;
}

.dashboard-card:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
}

.dashboard-card-header {
  margin-bottom: 32px;
}

.dashboard-card-title {
  font-weight: 500;
  color: #134252;
  margin: 0;
  text-transform: capitalize;
}

.dashboard-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Poor {
  color: #9a0003 !important;
}

.Moderate {
  color: #fbbf24 !important;
}

.dashboard-card-value {
  font-size: 48px;
  font-weight: 600;
  color: #1e6f78;
  line-height: 1;
  margin-bottom: 24px;
}

.dashboard-card-footer {
  font-size: 16px;
  color: #134252;
  padding-top: 16px;
}

.petProfileCard {
  /* min-width: 220px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.petImage {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
  border-radius: 36.221px;
}
.petProfileCard h2 {
  text-transform: capitalize;
}
.petBreed {
  color: #333;
  margin-bottom: 4px;
  text-transform: capitalize;
}
.petStats {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.profileButton {
  background: #1e6f78;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  cursor: pointer;
}

.alertsCard {
  padding: 16px;
}

.alertContainer {
  display: flex;
  flex-flow: row nowrap;
}
.alertStyler {
  width: 16px;
  background-color: #1e6f78;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px 0 0 8px;
}
.alertItem {
  background: #afced1;
  border-radius: 0 8px 8px 0;
  margin: 8px 0;
  padding: 8px;
  flex: 1 1 auto;
}

.allergyCard {
  min-width: 230px;
  flex: 1 1 auto;
}

.allergyCard h3 {
  margin-bottom: 10px;
  text-align: start;
  align-self: start;
}
.allergyList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 12px;
}
.allergyItem {
  background: #afced1;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  /* flex: 1 1 100%; */
  justify-content: center;
  width: 140px;
}

.addAllergyButton {
  background: #1e6f78;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.plusIcon {
  font-weight: bold;
  font-size: 18px;
}
