.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #247980;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  gap: 8px;
  padding: 12px 16px;
}

/* Existing sizes */
.button.large {
  max-width: 325px;
  height: 44px;
}

.button.mid {
  width: 112px;
  height: 56px;
}

.button.small {
  width: 95px;
  height: 44px;
}

.button.mobile {
  width: 76px;
  height: 32px;
}

.button.add-health-report {
  width: 184px;
  height: 50px;
  border-radius: 20px;
  background: #247980;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0 20px;
  gap: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

.button.add-health-report .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background: #fff;
  color: #247980;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
