.custom-loading-modal {
  position: fixed;
  z-index: 999;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame-animation {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 16px;
}
.loading-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: frameSwitch 2.5s infinite steps(5);
}
.frame-1 {
  animation-delay: 0s;
}
.frame-2 {
  animation-delay: 0.5s;
}
.frame-3 {
  animation-delay: 1s;
}
.frame-4 {
  animation-delay: 1.5s;
}
.frame-5 {
  animation-delay: 2s;
}
@keyframes frameSwitch {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.custom-loading-text {
  font-size: 1.25rem;
  color: #227176;
  font-weight: 600;
  text-align: center;
}
