.search-bar {
  width: 238px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 0 0 1px #ccc;
  overflow: hidden;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 12px;
  height: 100%;
  font-size: 16px;
  background: transparent;
}

.search-btn {
  width: 45px;
  height: 100%;
  border: none;
  background: #757575;
  color: #fff;
  cursor: pointer;
  border-radius: 0 18px 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}
