.body-nav-item-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: fit-content;
  text-wrap: none;
}

.body-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
}

.body-nav-item.active,
.body-nav-item:hover {
  color: black;
  border-bottom: 3px solid #100303;
  font-weight: 600;
}
